.main-cont{
    background-color: #B1BCE6;
}
.back-color{
    background-color: #B1BCE6;
}
.card-header{
    background-color: white;
}

.text-decoration-line-through{
    color: red;
}

mat-list-item p{
    color: green;
    font-weight: bold;
    font-size: 14px !important;
}

.fit{
    width: fit-content !important;
}
mat-expansion-panel{
    margin:10px 0px !important;
    width: 100%;
    font-size: 16px !important;
}