<div class="container-fluid w-50 text-center p-5 main-cont">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        ><h1>{{ "subscribe" | translateMain | uppercase }}</h1>
      </label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <button class="btn btn-danger mt-4">
        {{ "subscribeButton" | translateMain }}
      </button>
    </div>
  </form>
</div>
