<div class="container margin-top" >
  <div class="row mb-4" >
    <div class="col-sm"*ngFor="let blog of mainBlogData" >
      <div class="card m-auto"        [routerLink]="blog.retailCardHeader"style="width:350px" >
        <img src="{{blog.photo}}" class="card-img-top" [alt]="blog.retailCardHeader" />
        <div class="card-body">
          <h2 class="card-title fw-semibold">
            {{ "retailCardHeader" | translateMain}}
          </h2>

          <button class="btn btn-danger btn-round" [routerLink]="blog.retailCardHeader" >
            {{ "buttonSeeMore" | translateMain }}
          </button>
        </div>
      </div>
    </div>
    
  </div>
</div>
