<div class="row align-items-center p-5 bg-color">
  <div class="col-sm-12 col-md-6 col-lg-6 my-auto order-lg-2">
    <img src="assets/images/about-section.png" alt="" class="img-fluid" />
  </div>
  <div
    class="col-sm-12 col-md-6 col-lg-6 text-md-left text-center my-auto order-lg-1"
  >
    <h4 class="fw-normal text-left">
      {{ "aboutProduct" | translateMain }}
    </h4>
    <button class="btn btn-danger">
      {{ "buttonSeeMore" | translateMain }}
    </button>
  </div>
</div>
<div class="bg-quote w-100 back-color">
  <img src="assets/images/visual-buttom.svg" style="width: 100vw" alt="" />
</div>
