<div class="row align-items-center p-5 w-100">
  <div class="col-sm-12 col-md-6 col-lg-6 my-auto order-lg-2">
    <img src="assets/images/about-section.jpg" alt="" class="img-fluid" />
  </div>
  <div
    class="col-sm-12 col-md-6 col-lg-6 text-md-left text-center my-auto order-lg-1"
  >
    <h4 class="fw-normal text-left">
      MEGA+ განკუთვნილია სავაჭრო ობიექტის , ან ობიექტების მართვისა და
      აღრიცხვიანობის წარმოებისათვის . იგი წარმოადგენს ძალზედ მოქნილ სისტემას ,
      რომელიც საშუალებას იძლევა მოხდეს ობიექტის ოპერატიულ რეჟიმში მართვა და მისი
      შემდგომი აღრიცხვა. პროგრამა განკუთვნილია შემდეგი ოპერაციების
      განსახორციელებლად.
    </h4>
    <button class="btn btn-danger">მეტის ნახვა</button>
  </div>
</div>
