<div class="row align-items-center p-5 bg-pink">
  <div class="col-sm-12 col-md-6 col-lg-6 order-lg-2">
    <img src="https://nlk.ge/sitepad-data/uploads/2021/10/LOGO3-1.png" alt="Home" class="img-fluid" />
  </div>
  <div
    class="col-sm-12 col-md-6 col-lg-6 text-md-left text-center my-auto order-lg-1"
  >
    <h1 class="mb-0 fw-bold fs-3">{{ "quate" | translateMain | uppercase }}</h1>
    <div class="center-mobile video-section mb-3 mt-3">
      <button class="btn btn-danger btn-round" routerLink="/contact">
        {{ "button" | translateMain }}
      </button>
    </div>
  </div>
</div>
<div class="bg-quote w-100 bg-color">
  <img
    src="/assets/images/bg-section-bottom-desktop-1.svg"
    width="100%"
    alt=""
  />
</div>
