<div class="container-fluid text-center p-5"> 
    <div class="w-75 m-auto ">
  <div class="m-4 ">
    <h1 class="fw-bold fs-3">ახალი შესაძლებლობები</h1>
  </div>
  <div>
    <h4 class="fw-normal lh-base">
      MEGA + არის ჩვენი 12 წლიანი გამოცდილების მიერ ნაკარნახევი მოტივებით
      შექმნილი პროდუქტი, რომელსაც საფუძვლად უდევს სავაჭრო ობიექტებში მომხდარი
      მრავალი ისეთი შემთხვევები და პრობლემები, რომელთა გადაწყვეტითაც
      მნიშვნელოვნად გამარტივდა პერსონალის საქმიანობა და სავაჭრო ობიექტის მართვა.
    </h4>
  </div>
</div>
</div>
