<div class="row m-auto w-100 align-items-center bg-color">
  <div class="col-sm-13 col-lg-4 m-auto">
    <img src="/assets/images/experince.png" alt="" width="450px;" />
  </div>
  <div
    class="col-sm-12 col-md-6 col-lg-6 text-md-left text-center my-auto order-lg-1"
  >
    <h1 class="fw-bold fs-3">{{ "newOpportunitiesHeader" | translateMain | uppercase}}</h1>
    <h4 class="fw-normal lh-base">
      {{ "newOpportunities" | translateMain }}
    </h4>
  </div>
</div>

<div class="bg-quote w-100 back-color">
  <img src="assets/images/blue-bottom-wave.svg" width="100%" alt="" />
</div>
