@import "/node_modules/bootstrap/scss/bootstrap.scss";

// Configuration

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden !important;
}

.bg-color {
  background-color:#c1dbf2;
}
